<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ჩემი პორტფოლიო</title>
</head>
<body>
<%- include('partials/navbar') %>

<div style="padding:20px;">
    <h1>my portfolio</h1>
    <p>use menu to go to my page</p>
</div>

<%- include('partials/footer') %>
</body>
</html>