<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ჩემი პორტფოლიო</title>
</head>
<body>
<%- include('partials/navbar') %>

<div style="padding:20px;">
    <h1>მოგესალმებით ჩემს პორტფოლიოში!</h1>
    <p>გამოიყენეთ ზემოთ მენიუ გვერდებზე გადასასვლელად.</p>
</div>

<%- include('partials/footer') %>
</body>
</html>